@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 40px;
}

.menu {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #0055a5;
    font-weight: 500;
    font-size: 14px;
}

.search-section {
    text-align: center;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 160px;
    border-radius: 15px;
    margin-top: 50px;
}

.search-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.text {
    width: 75%;
    font-size: 18px;
}

.subtitulo {
    font-size: 14px;
    width: 75%;

}

.content .text {
    width: 65%;
    font-size: 18px;
}

.content .highlight {
    width: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
